body
{
	background-image:url("../images/fond.png");
	background-size: cover;
	position: relative;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'monospace';
	font-size:1.3em;
}

a { text-decoration: none; color: inherit; }

.right { float: right; } .left { float: left; } .center-text { text-align: center; }

.flex { display: flex; display: -webkit-flex; justify-content: space-around; -webkit-justify-content: space-around; }





h1
{
	text-align:center;
	text-decoration:underline;
	font-size:1.5em;
	color:#5e3023;
}

p
{
	text-align:center;
	font-family: 'Impact',fantasy;
}
.debut
{
	text-align:center;
	margin:auto;
}





.pirate
{
	float:left;
	
}

.carte
{
	height:400px;
	width:400px;
	float:center;
}

.option1{
	width:500px;
	border:1px solid black;
	text-align:justify;
	padding:12px;
	margin:20px;
	margin-left:500px;
}




.option4{
	width:500px;
	border:1px solid black;
	text-align:justify;
	padding:12px;
	margin:20px;
	margin-left:1100px;
	margin-bottom:100px;
}






.option2
{
	
	width:500px;
	border:1px solid black;
	text-align:justify;
	padding:12px;
	margin:20px;
	margin-left:1100px;
	margin-bottom:100px;
	margin-top:-318px;
}
.option3{
	
	width:500px;
	border:1px solid black;
	text-align:justify;
	padding:12px;
	margin:20px;
	margin-left:500px;
	margin-bottom:100px;
}

.potion1{
	height:500px;
	width:400px;
	float:center;
	}

	

.recommencer
{
	width:300px;
	height:100px;
	margin:auto;
	margin-left:30%;
	margin-right:30%;
}
.recommencer2
{
	width:300px;
	height:100px;
	margin:auto;
	margin-left:900px;
	margin-right:30%;
}

.potion
{
	height:100px;
	width:300px;
	float:center;
	
}

.potion
{
	height:100px;
	width:300px;
	float:center;
	
}






.recommencer2{
	width:300px;
	height:100px;
	margin:auto;
	margin-left:200px;
}

.continue{
	width:300px;
	height:100px;
	margin:auto;
	margin-right:600px;
}

.chaloupe{
	float:center-left
	
}

.foret{
	float:right;
	margin-top:-400px;
	margin-right:200px;
	
}

.groupe
{
	height:400px;
	width:400px;
	float:center;
	margin-left:-600px;
}
.temple{
	height:400px;
	width:400px;
	float:center;
	margin-left:200px;
}
.rentre{
	margin-left:800px;
}
.rentrepas{
	margin-left:100px;
}
.chat{
	height:400px;
	width:400px;
	float:center;
	margin-left:800px;
}
.rentrer{
	margin-left:250px;
	}